body{
    font-family: Arial;
    margin: 40px;
    background-color:#f2f2f2;
}
h1{
    color: blue;
}

table{
    border-collapse: collapse;
    width: 100%;
    background: white;
}

th, td{
    padding: 10px;
    border: 1px solid black;
}